<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="app">
            <div id="main-container" v-cloak v-if="dataLoaded">
                <div class="page-container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1>NORTHPARK</h1>
                        </div>
                        <div class="col-md-8">
                            <div @click="show_menu = !show_menu" v-show="!show_menu" v-bind:class="{ active: isOpen }" id="menu-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <ul v-if="show_menu" class="menu">
                                <li class="menu-text">MM with Vue.js!</li>
                                <router-link tag="li" to="/" active-class="active" exact>
                                  <a>Home</a>
                                </router-link>
                                <router-link tag="li" to="/stores" active-class="active" exact>
                                  <a>Stores</a>
                                </router-link>
                                <router-link tag="li" to="/promotions" active-class="active" exact>
                                  <a>Promotions</a>
                                </router-link>
                                <router-link tag="li" to="/badlink" active-class="active" exact>
                                  <a>404 Example</a>
                                </router-link>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <router-view></router-view>
        </div>
        <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    </body>
</html>
