<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="app" v-cloak v-if="dataLoaded">
            <div id="main-container">
                <header>
                    <div class="page-container">
                        <div class="row">
                            <div class="col-md-4">
                                <router-link to="/" active-class="active" exact>
                                    <img class="header-logo" src="//codecloud.cdn.speedyrails.net/sites/5a1835f66e6f6422a6650000/image/png/1511803959000/northpark-logo.png"  alt="Northpark Property Logo">
                                </router-link>
                            </div>
                            <div class="col-md-8">
                                <div class="menu-icons">
                                    <div @click="show_search = !show_search" :class="{ open: show_search }" id="search-icon">
                                        <span class="circle"></span>
                                        <span class="handle"></span>
                                    </div>
                                    <div @click="show_menu = !show_menu" :class="{ open: show_menu }" id="menu-icon">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <breadcrumbs>{{ breadcrumb }}</breadcrumbs>
                                </div>
                                <div v-if="show_menu" class="menu-container">
                                    <div class="menu-content">
                                        <ul class="menu">
                                            <router-link tag="li" to="/stores" active-class="active" exact>
                                                <h1><a @click="show_menu = !show_menu" class="main-menu-link">Shops & Dining</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/events" active-class="active" exact>
                                                <h1><a class="main-menu-link">Events</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/art" active-class="active" exact>
                                                <h1><a class="main-menu-link">Art</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/news" active-class="active" exact>
                                                <h1><a class="main-menu-link">News</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/visit" active-class="active" exact>
                                                <h1><a class="main-menu-link">Visit</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/our-story" active-class="active" exact>
                                                <h1><a class="main-menu-link">Our Story</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/magazine" active-class="active" exact>
                                                <h1><a class="main-menu-link">The Magazine</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/hours" active-class="active" exact>
                                                <h1><a class="main-menu-link">Hours</a></h1>
                                            </router-link>
                                            <router-link tag="li" to="/holiday" active-class="active" exact>
                                                <h1><a class="main-menu-link">Holiday</a></h1>
                                            </router-link>
                                        </ul>
                                        <div class="menu-newsletter-container">
                                            <form action="https://mobilefringe.createsend.com/t/d/s/jhithd/" method="post">

                                                <input class="" id="fieldEmail" name="cm-jhithd-jhithd" type="email" required placeholder="Sign Up for Email Newsletter"/>
                                                <button class="news-submit" type="submit"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                                            </form>
                                        </div>
                                        <div class="menu-social-container">
                                            <router-link tag="a" to="https://www.facebook.com/northparkcenter" active-class="active" exact>
                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            </router-link>
                                            <router-link tag="a" to="https://twitter.com/NorthParkCenter" active-class="active" exact>
                                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                            </router-link>  
                                            <router-link tag="a" to="https://www.pinterest.ca/northparkcenter/" active-class="active" exact>    
                                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                            </router-link>    
                                            <router-link tag="a" to="https://www.youtube.com/user/NorthParkCenter" active-class="active" exact>    
                                                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                            </router-link>    
                                            <router-link tag="a" to="https://www.instagram.com/northparkcenter/" active-class="active" exact>    
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </router-link>
                                            <router-link tag="a" to="" active-class="active" exact>  
                                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                                            </router-link>
                                        </div>
                                        <div class="menu-address-container">
                                            <p v-if="property">{{property.address1}}<br>
                                                {{property.city}}, {{property.province_state}} {{property.postal_code}} <br>
                                                {{property.contact_phone}}
                                            </p>    
                                        </div>
                                    </div>
                                </div>
                                <div v-if="show_search" class="search-container">
                                    <div class="search-content">
                                        <search-component v-model="search" :list="processedStores" :suggestion-attribute="suggestionAttribute" @select="onOptionSelect">
                                            <template slot="item" scope="option">
                                                <article class="media">
                                                    <p>{{ option.data.name }}</p>
                                                </article>
                                            </template>
                                        </search-component>
                                        <div class="menu-social-container">
                                            <router-link tag="a" to="https://www.facebook.com/northparkcenter" active-class="active" exact>
                                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            </router-link>
                                            <router-link tag="a" to="https://twitter.com/NorthParkCenter" active-class="active" exact>
                                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                            </router-link>  
                                            <router-link tag="a" to="https://www.pinterest.ca/northparkcenter/" active-class="active" exact>    
                                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                            </router-link>    
                                            <router-link tag="a" to="https://www.youtube.com/user/NorthParkCenter" active-class="active" exact>    
                                                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                            </router-link>    
                                            <router-link tag="a" to="https://www.instagram.com/northparkcenter/" active-class="active" exact>    
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </router-link>
                                            <router-link tag="a" to="" active-class="active" exact>  
                                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                                            </router-link>
                                        </div>
                                        <div class="menu-address-container">
                                            <p v-if="property">{{property.address1}}<br>
                                                {{property.city}}, {{property.province_state}} {{property.postal_code}} <br>
                                                {{property.contact_phone}}
                                            </p>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <br/>
            <router-view></router-view>
            <footer>
                <div class="page-container">
                    <div class="footer-nav">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <router-link tag="li" to="/stores" active-class="active" exact>
                                        <a>Shops & Dining</a>
                                    </router-link>
                                    <router-link tag="li" to="/events" active-class="active" exact>
                                        <a>Events</a>
                                    </router-link>
                                    <router-link tag="li" to="/art" active-class="active" exact>
                                        <a>Art</a>
                                    </router-link>
                                    <router-link tag="li" to="/news" active-class="active" exact>
                                        <a>News</a>
                                    </router-link>
                                    <router-link tag="li" to="/visit" active-class="active" exact>
                                        <a>Visit</a>
                                    </router-link>
                                    <router-link tag="li" to="/our-story" active-class="active" exact>
                                        <a>Our Story</a>
                                    </router-link>
                                    <router-link tag="li" to="/magazine" active-class="active" exact>
                                        <a>The Magazine</a>
                                    </router-link>
                                    <router-link tag="li" to="/hours" active-class="active" exact>
                                        <a>Hours</a>
                                    </router-link>
                                    <li></li>
                                </ul>    
                            </div>
                            <div class="col-md-6">
                                <img class="footer-logo" src="//codecloud.cdn.speedyrails.net/sites/5a1835f66e6f6422a6650000/image/png/1511801610000/northpark-logo-white.png"  alt="Northpark Property Logo">
                                <p class="pull-right" v-if="property">{{property.address1}} - {{property.city}}, {{property.province_state}} - {{property.contact_phone}}</p>
                                <div class="social-icon-container">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copy">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li>Site Map</li>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Mobile App</a>
                                    </router-link>
                                    <router-link tag="li" to="/pages/northpark-terms-of-use" active-class="active" exact>
                                        <a>Terms of Use</a>
                                    </router-link>
                                    <router-link tag="li" to="/pages/northpark-northpark-center-code-of-conduct" active-class="active" exact>
                                        <a>Code of Conduct</a>
                                    </router-link>
                                    <router-link tag="li" to="/pages/northpark-privacy-policy" active-class="active" exact>
                                        <a>Privacy Policy</a>
                                    </router-link>
                                    <router-link tag="li" to="/contact" active-class="active" exact>
                                        <a>Contact Us</a>
                                    </router-link>
                                    <router-link tag="li" to="http://northparkcenter.com/login" active-class="active" exact>
                                        <a>Admin Login</a>
                                    </router-link>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>&#169; {{copyright_year}} Copyright Northpark Partners LP</p>    
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    </body>
</html>
