<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="app">
            <div id="main-container" v-cloak v-if="dataLoaded">
                <header>
                    <div class="page-container">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="header-logo" src="//codecloud.cdn.speedyrails.net/sites/5a1835f66e6f6422a6650000/image/png/1511803959000/northpark-logo.png"  alt="Northpark Property Logo">
                            </div>
                            <div class="col-md-8">
                                <div @click="show_menu = !show_menu" v-bind:class="{ active: isOpen }" id="menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <ul v-if="show_menu" class="menu">
                                    <router-link tag="li" to="/" active-class="active" exact>
                                      <a>Home</a>
                                    </router-link>
                                    <router-link tag="li" to="/stores" active-class="active" exact>
                                      <a>Stores</a>
                                    </router-link>
                                    <router-link tag="li" to="/promotions" active-class="active" exact>
                                      <a>Promotions</a>
                                    </router-link>
                                    <router-link tag="li" to="/badlink" active-class="active" exact>
                                      <a>404 Example</a>
                                    </router-link>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <br/>
            <router-view></router-view>
            <footer>
                <div class="page-container">
                    <div class="footer-nav">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <router-link tag="li" to="/stores" active-class="active" exact>
                                        <a>Shops & Dining</a>
                                    </router-link>
                                    <router-link tag="li" to="/events" active-class="active" exact>
                                        <a>Events</a>
                                    </router-link>
                                    <router-link tag="li" to="/art" active-class="active" exact>
                                        <a>Art</a>
                                    </router-link>
                                    <router-link tag="li" to="/news" active-class="active" exact>
                                        <a>News</a>
                                    </router-link>
                                    <router-link tag="li" to="/visit" active-class="active" exact>
                                        <a>Visit</a>
                                    </router-link>
                                    <router-link tag="li" to="/our-story" active-class="active" exact>
                                        <a>Our Story</a>
                                    </router-link>
                                    <router-link tag="li" to="/magazine" active-class="active" exact>
                                        <a>The Magazine</a>
                                    </router-link>
                                    <router-link tag="li" to="/hours" active-class="active" exact>
                                        <a>Hours</a>
                                    </router-link>
                                    <li></li>
                                </ul>    
                            </div>
                            <div class="col-md-6">
                                <img class="footer-logo" src="//codecloud.cdn.speedyrails.net/sites/5a1835f66e6f6422a6650000/image/png/1511801610000/northpark-logo-white.png"  alt="Northpark Property Logo">
                                <p class="pull-right">{{property.address1}} - {{property.city}}, {{property.province_state}} - {{property.contact_phone}}</p>
                                <div class="social-icon-container">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                    <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copy">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li>Site Map</li>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Mobile App</a>
                                    </router-link>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Terms of Use</a>
                                    </router-link>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Code of Conduct</a>
                                    </router-link>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Privacy Policy</a>
                                    </router-link>
                                    <router-link tag="li" to="/contact" active-class="active" exact>
                                        <a>Contact Us</a>
                                    </router-link>
                                    <router-link tag="li" to="/" active-class="active" exact>
                                        <a>Admin Login</a>
                                    </router-link>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>&#169; {{copyright_year}} Copyright Northpark Partners LP</p>    
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>
    </body>
</html>
